<div jqm-page>
	<!-- Header-->
	<div jqm-header>
		<a jqm-button icon="ui-icon-home" jqm-theme="b" class="ui-btn-left" href="#/">
            Home
        </a>
		<h1>{{awesomeThing}}</h1> 
	</div>
	<!-- Recepie Details-->
	<div class="" style="top:138px; width: 80%; margin: auto;">
			<ul jqm-listview class="ui-listview" inset="true">
				<li jqm-li-divider jqm-theme="b"></li>
				<li jqm-li-entry>
					<a jqm-button icon="ui-icon-flat-heart" jqm-theme="b" class="ui-btn-right" data-ng-click="act()">
            			Call 2 Action
        			</a>
				</li>
			</ul>
	</div>
</div>

